<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Person</title>
</head>
<body>
<a href="/people">Back to list</a>
<hr/>
<p>ID= 
<span th:text="${person.getId()}">value</span>
</p>
<p>Name: 
<span th:text="${person.getName()}">value</span>
</p>
<p>Age: 
<span th:text="${person.getAge()}">value</span>
</p>
<p>Email: 
<span th:text="${person.getEmail()}">value</span>
</p>
<hr/>
<a  th:href="@{/people/edit/{id}(id=${person.getId()})}">Edit!</a>
<p></p>
<form th:method="Delete" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}" >
<input type="submit" value="Delete Person">
</form>

</body>
</html>